/*Estrutura gerais do app - inicio*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 490px;
  min-height: 100vh;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}

.header {
  height: 10%;
  background: #ffffff;
  color: #004080;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.corpo {
  background: #ffffff;
  color: #004080;
  padding: 1rem;
  text-align: center; /* centraliza horizontalmente */
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.dataatual {
  background: #ffffff;
  color: #000000; /* fonte preta */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0rem;
}



.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o gráfico */
    width: 100%;
    height: 270px;
    margin-top: 20px;
    position: relative;
}

.soma-tempo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    z-index: 1;
}

.circulo-branco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 245px; /* Ajuste o tamanho conforme necessário */
    height: 245px; /* Ajuste o tamanho conforme necessário */
    background-color: white; /* Cor do círculo */
    border-radius: 50%; /* Faz um círculo */
    border: 2px solid #fff; /* Borda branca */
    z-index: 0; /* Coloca o círculo abaixo da soma */
}


.lista-atividades {
    margin-top: 25px;
    text-align: left; /* Alinha o texto à esquerda */
    color: #000000;
}

.atividade-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.atividade-cor {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%; /* Faz um círculo */
}

.categorias {
  background: #ffffff;
  color: #000000;
  padding: 1rem;
  text-align: center; /* centraliza horizontalmente */
  font-size: 1.2rem;
  font-weight: bold;
}




main {
  padding: 1rem;
}

/*Estrutura gerais do app - fim*/

/*Icones Header - inicio*/
.profile {
  display: flex;
  align-items: center;
}

/*Icones Header - fim*/

/*Barra Planejamento - inicio*/
.tabs {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 345px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 0 auto;
  margin-top: 2%;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #2C448C;
  border-radius: 1rem;
  z-index: 0;
  transition: transform 0.3s ease;
  transform: translateX(0%);
}

.btn-60 {
  width: 60%;
}

.btn-30 {
  width: 30%;
}

.tabs button {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: #2C448C;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tabs button.active {
  color: white;
}





.mostra {
    padding: 1rem;
}

.criar {
    position: absolute; 
    bottom: 120px;
    right: 20px;
    z-index: 10;
}

.criar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #5b5b5b;
    color: white;
    border-radius: 30%;
    font-size: 32px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.criar a:hover {
    background-color: #3f3f3f;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    max-width: 490px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C191E;
    border-top: 1px solid #333;
}

.nav-item {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.nav-item img {
    width: 28px;
    height: 28px;
    filter: invert(35%);
}

.nav-item span {
    display: block;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 4px;
    transition: background-color 0.3s;
}

.nav-item.active .icon-wrapper {
    background-color: #2D2A30; 
}

.nav-item.active span {
    opacity: 1;
}




